#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

# workaround for hppa
export KMK_THREADS_DISABLED := 1

YACC      := YACC=/usr/bin/byacc
BOOTSTRAP := ASH=/bin/bash ECHO=/bin/echo MKDIR=/bin/mkdir CP=/bin/cp \
  RM=/bin/rm INSTALL=/usr/bin/install $(YACC)
SVNROOT   := http://svn.netlabs.org/repos/kbuild/trunk
REVISION  := $(shell echo $(DEB_UPSTREAM_VERSION) | sed -e's,.*svn,,')

makebuilddir:: SvnInfo.kmk
SvnInfo.kmk:
	echo "KBUILD_SVN_URL := $(SVNROOT)"  >  $@
	echo "KBUILD_SVN_REV := $(REVISION)" >> $@

build/kbuild:: debian/stamp-build
debian/stamp-build:
	$(info DEBUG: macros defined by gcc:)
	-gcc -dM -E - < /dev/null
	kBuild/env.sh --full make -f bootstrap.gmk SRCDIR=`pwd` $(BOOTSTRAP)
	kBuild/env.sh kmk rebuild PATH_INS=`pwd` $(YACC)
	pod2man -c 'kBuild for Debian GNU/Linux' \
	  -r kBuild-$(DEB_UPSTREAM_VERSION) debian/kmk.pod > debian/kmk.1
	touch $@

install/kbuild::
	kBuild/env.sh kmk install NIX_INSTALL_DIR=/usr LDFLAGS=-Wl,--as-needed
	cd out/*.*/release/usr/share/kBuild && chmod a-x *.kmk */*.kmk

clean::
	-kBuild/env.sh kmk uninstall
	$(RM) -r debian/stamp-* debian/kmk.1 out kBuild/bin/*/* SvnInfo.kmk


get-orig-info:
	svn info $(SVNROOT)

get-orig-source:
	sh debian/orig-tar.sh $(SVNROOT) $(DEB_UPSTREAM_VERSION) $(REVISION)
